### Symfony ###
# Env
/.env.local
/.env.local.php
/.env.*.local

# Cache and logs
/var/cache/*
/var/log/*
/var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Build data
/public/build/
/public/bundles/

### Jetbrains
.idea/