<h1>Veuillez confirmer votre inscription</h1>

<p>
    Veuillez confirmer votre inscription: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon inscription</a>.
    Le lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>


